@import "color.css";

body {
  background: var(--global-background);
}
.text-center {
  background-color: transparent;
}

.form-control,
.btn-primary {
  border: none;
}

.form-control span {
  padding: 5%;
}

.form-control span,
.btn-primary {
  color: var(--global-font);
}

.btn-primary {
  background: var(--global-options);
  margin-bottom: 30px;
  border-radius: 15px !important;

  width: 360px ;
  height: 50px;
}

.btn-primary:hover {
  -webkit-transition:  linear 0.4s;
  -moz-transition:  linear 0.4s;
  -o-transition:  linear 0.4s;
  transition: linear 0.4s;
  color: var(--global-options);
  background: var(--global-btn);
}

.btn-confirm{
    background-color: var( --global-bottom-confirm);
    color: var( --global-options);
    border-radius: 15px;
    height: 50px;
    width: 70%;
    border:none;
}


/*
css do formulario abaixo 
*/



.questions form{
  border: solid 2px black;
}

.letra span{
  padding-top: 0.8em;
  padding-left: 0.8em;
  position: absolute;


}
.letra:hover{
  -webkit-transition:  linear 0.4s;
  -moz-transition:  linear 0.4s;
  -o-transition:  linear 0.4s;
  transition: linear 0.4s;
  color: var(--global-options);
}

